<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/theme-toggles@4.10.1/css/classic.min.css">
    <link rel="stylesheet" href="./styles/account.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.47/dist/vue.global.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" defer></script>
    <script src="./js/account.js" type='module' defer></script>

    <title>Transactions || HB</title>
</head>
<body>
    <div id="app" >
        <div class="gridLayout" :class="{ backgroundDark: themeDark, backgroundLight: !themeDark }">
           
            <div class="nav__account" >

                <nav    class="d-flex flex-column ps-2 pe-2 pt-4 gap-2 nav__basic colorLink"  
                        :class="{navLight: !themeDark, nav: themeDark, navList: !themeDark, border__right : themeDark, border__right__light: !themeDark}" 
                        :style="getAnimationNav()"> 
         
                    <a  class="d-flex align-items-center gap-1" 
                        href="./accounts.html"> 
                        <i class="bi bi-house"></i>
                        Home
                    </a>
                    <a class="d-flex align-items-center gap-1" href="./cards.html">
                        <i class="bi bi-credit-card"></i>
                        Cards
                    </a>
                    <a class="d-flex align-items-center gap-1" href="./loan-application.html">
                        <i class="bi bi-cash"></i>
                        Loans
                    </a>
                    <a  class="d-flex align-items-center gap-1" 
                        href="#"
                        :class="{actived__section: themeDark, actived__section__light: !themeDark}">
                        <i class="bi bi-bar-chart"></i>
                        Transactions
                    </a>
                    <a  class="d-flex align-items-center gap-1" 
                        href="./transactions.html">
                        <i class="bi bi-arrow-down-up"></i>
                        Transfer
                    </a>
                    <a class="d-flex align-items-center gap-1" href="./profile.html">
                        <i class="bi bi-person"></i>
                        Profile
                    </a>
                    <a  class="d-flex align-items-center gap-1" 
                        href="./contactus.html">
                        <i class="bi bi-headset"></i>
                        Contact us
                    </a>
                    <template v-if="isMobile">
                      <button   class="btn__logout d-fkex gap-2 btn__logout__dark"
                                @click="logout"
                                style="width: 100px">
                                <i class="bi bi-box-arrow-left"></i>
                                Sign out
                      </button>
                    </template>   
                </nav>

            </div>
            <div
    class="container__header "
    :class="{headerLight: !themeDark, border__bottom: themeDark, border__bottom__light: !themeDark}"
  >

    <div class="d-flex flex-column flex-sm-row gap-4 p-sm-2 justify-content-between h-100">
      <header class="header d-flex h-100 p-2">
        <button class="toggleBar" @click="activeBar = !activeBar">
          <div :style="getAnimationBar(1)"></div>
          <div :style="getAnimationBar(2)"></div>
          <div :style="getAnimationBar(3)"></div>
        </button>
        <div class="title__icon d-flex gap-1 align-items-center">
          
          <img src="./assets/new_logo.png" alt="">
          <h1 style="color: #fe7d72; ">HUBORANGE</h1>

        </div>
      </header>

      <div v-if="!isMobile" style="width: fit-content" class="d-flex flex-wrap align-items-center gap-2">
        <div v-if="clientData" class="d-flex gap-2 align-items-center">
          {{ clientData?.firstName + " " + clientData?.lastName}}
          <div class="container__profile size__profile__small">
            <img v-if="clientData" :src="clientData.avatarUrl ? clientData.avatarUrl : './assets/avatar.jpg'" alt="avatar">
          </div>
        </div>
   
        
        <button class="p-1 rounded-4 btn__logout"
          @click="logout">
          Sign out
        </button>
      </div>
    </div>

  </div>


                <main class="main__account p-2 position-relative d-flex flex-column gap-1 align-items-center" id="main">
                    
                    <div
                        v-if="isLoadingData"
                            class="position-absolute top-50 start-50 translate-middle d-flex justify-content-center align-items-center"
                        >
                        <div
                            class="spinner-border text-dark"
                            :class="{'text-dark': !themeDark, 'text-white': themeDark}"
                            role="status"
                        >
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                 
                        <h3 class="title__page__text">Transactions</h3>
                        <div class="d-flex gap-2 align-items-end flex-column flex-lg-row align-items-lg-end align-items-center">
                          <div>
                            <label for="">Filter by dates</label>
                            <input v-model="datesBetween" id="dateInput" @input="checkDates" class="form-control" style="width: 200px;" placeholder="yyyy-mm-dd hh-mm">
                          </div>  
                          <button class="btn btn-orange" @click="filterByDate">Filter</button>
                          <a  class="btn btn-orange" :href="getPdf()" target="_blank" download>Export to PDF</a>
                          <p class="m-0 ms-2">Click on the column's name to sort ascending or descending</p>
                        </div>
                        
                        <div  class="table-responsive"  
                              style="width: 900px;"
                              :style="{maxWidth: isMobile ? '90vw' : '70vw'}"
                              id="table">
                                <table  class="table text-light rounded-3"
                                        style="background-color: #31618d; min-height: 72vh;"
                                        >
                                  <thead>
                                    <tr>
                                      <th scope="col" style="min-width: 100px;cursor: pointer" @click="setOrderColumn('Amount')">Amount
                                        <template v-if="arrowFilterActive.column === 'Amount'">
                                          <i  v-if="arrowFilterActive.direction === 1" class="bi bi-caret-down-fill"></i>
                                          <i  v-if="arrowFilterActive.direction === 2" class="bi bi-caret-up-fill"></i>
                                        </template> 
                                        
                                      </th>
                                      <th scope="col" style="min-width: 100px; cursor: pointer" @click="setOrderColumn('Type')">Type 
                                        <template v-if="arrowFilterActive.column === 'Type'">
                                          <i  v-if="arrowFilterActive.direction === 1" class="bi bi-caret-down-fill"></i>
                                          <i  v-if="arrowFilterActive.direction === 2" class="bi bi-caret-up-fill"></i>
                                        </template> 
                                      </th>
                                      <th scope="col" style="min-width: 100px; cursor: pointer" @click="setOrderColumn('Date')">Date 
                                        <template v-if="arrowFilterActive.column === 'Date'">
                                          <i  v-if="arrowFilterActive.direction === 1" class="bi bi-caret-down-fill"></i>
                                          <i  v-if="arrowFilterActive.direction === 2" class="bi bi-caret-up-fill"></i>
                                        </template> 
                                      </th>
                                      <th scope="col" style="min-width: 100px; cursor: pointer" @click="setOrderColumn('Hour')">Hour 
                                        <template v-if="arrowFilterActive.column === 'Hour'">
                                          <i  v-if="arrowFilterActive.direction === 1" class="bi bi-caret-down-fill"></i>
                                          <i  v-if="arrowFilterActive.direction === 2" class="bi bi-caret-up-fill"></i>
                                        </template> 
                                      </th>
                                      <th scope="col" style="min-width: 130px; cursor: pointer" @click="setOrderColumn('Description')">Description 
                                        <template v-if="arrowFilterActive.column === 'Description'">
                                          <i  v-if="arrowFilterActive.direction === 1" class="bi bi-caret-down-fill"></i>
                                          <i  v-if="arrowFilterActive.direction === 2" class="bi bi-caret-up-fill"></i>
                                        </template> 
                                      </th>
                                      <th scope="col" style="min-width: 100px;cursor: pointer" @click="setOrderColumn('Balance')">Balance
                                        <template v-if="arrowFilterActive.column === 'balance'">
                                          <i  v-if="arrowFilterActive.direction === 1" class="bi bi-caret-down-fill"></i>
                                          <i  v-if="arrowFilterActive.direction === 2" class="bi bi-caret-up-fill"></i>
                                        </template> 
                                      </th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr v-for="transaction of filteredTransactions">
                                      <td :style="{color: transaction.type === 'DEBIT' ? 'rgb(248, 112, 112)' : 'rgb(0, 199, 0)'}">{{transaction.type === "DEBIT" ? "-" : "+"}}{{formatMoney(transaction.amount)}}</td>
                                      <td>{{transaction.type}}</td>
                                      <td>{{transaction.date}}</td>
                                      <td>{{transaction.hour}}</td>
                                      <td>{{transaction.description}}</td>
                                      <td>{{formatMoney(transaction.balance)}}</td>
                                    </tr>
                                    <tr  v-if="!transactions.length">
                                      <td colspan="6">
                                        <div class="d-flex justify-content-center flex-column gap-3" style="width: 100%">
                                          <h4 class="text-center">Not founds transactions</h4>
                                
                                          <img  style="max-width: 500px;" class="align-self-center" src="./assets/noTransactions.png" alt="no_transactions">  
                                        </div> 
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
          

                        </div>

                        
                        <div  class="text-end position-relative" 
                              v-if="transactions.length" 
                              style="width: 900px; top:-12px;"
                              :style="{maxWidth: isMobile ? '90vw' : '70vw'}">
                                <i v-if="numPage" @click="movePage(false)" class="bi bi-caret-left"></i>
                                <i v-if="numPage + 1 * 10 < transactions.length" @click="movePage(true)" class="bi bi-caret-right"></i>
                                <span  v-html="getPages()"></span>
                        </div>

                    </template>
                    
                </main>
        </div>

    
    </div>
</body>
</html>