<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/theme-toggles@4.10.1/css/classic.min.css">
    <link rel="stylesheet" href="./styles/account.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" defer></script>
    <script src="./js/account.js" defer></script>
    <title>Account</title>
</head>
<body>
    <div id="app" >
        <div class="gridLayout" :class="{ backgroundDark: themeDark, backgroundLight: !themeDark }">
           
            <div class="nav__account" :class="{navList: !themeDark, border__right : themeDark && !isMobile, border__right__light: !themeDark && !isMobile}">
                <header class="p-4 header h-100">
                    <button class="toggleBar" @click="activeBar = !activeBar" >
                        <div :style="getAnimationBar(1)"></div>
                        <div :style="getAnimationBar(2)"></div>
                        <div :style="getAnimationBar(3)"></div>
                    </button>
                    <h1 class="title__icon">HB</h1>
                </header>

                <nav class="d-flex flex-column ps-2 pe-2 gap-2 nav__basic colorLink"  :class="{navLight: !themeDark, nav: themeDark}" :style="getAnimationNav()"> 
                    Menu
                    <a  class="d-flex align-items-center gap-1" 
                        href="./accounts.html"
                        :class="{actived__section: themeDark, actived__section__light: !themeDark}"> 
                        <i class="bi bi-house"></i>
                        Home
                    </a>
                    <a class="d-flex align-items-center gap-1" href="./cards.html">
                        <i class="bi bi-credit-card"></i>
                        Cards
                    </a>
                    <a class="d-flex align-items-center gap-1" href="#">
                        <i class="bi bi-cash"></i>
                        Loans
                    </a>
                    <a class="d-flex align-items-center gap-1" href="#">
                        <i class="bi bi-bar-chart"></i>
                        Statics
                    </a>
                    <hr/>
                    Account
                    <a class="d-flex align-items-center gap-1" href="#">
                        <i class="bi bi-person"></i>
                        Profile
                    </a>
                    <a class="d-flex align-items-center gap-1" href="#">
                        <i class="bi bi-bell"></i>
                        Notifications
                        <span   class="badge rounded-pill" 
                                :style="{'backgroundColor': themeDark ? 'rgb(0, 199, 0)' : '#ff9975', 'color' : themeDark ? 'black' : 'white'}">5</span>
                    </a>
                    <a class="d-flex align-items-center gap-1" href="#">
                        <i class="bi bi-gear"></i>
                        Settings
                    </a>    
                </nav>

            </div>
            <div class="p-4 container__header"  :class="{headerLight: !themeDark, border__bottom: themeDark, border__bottom__light: !themeDark}">
                <template v-if="accountData">
                    <h5>Account {{accountData.number}}</h5>
                </template>
                <h1 v-else>Account</h1>
                <div class="d-flex justify-content-around gap-4 align-items-center">
                    <template v-if="clientName">{{ clientName }}</template>
                    <label class="theme-toggle" title="Toggle theme">
                        <input type="checkbox" @click="toggleHandle" />
                        <span class="theme-toggle-sr">Toggle theme</span>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          aria-hidden="true"
                          width="25px"
                          height="25px"
                          fill="currentColor"
                          stroke-linecap="round"
                          class="theme-toggle__classic"
                          viewBox="0 0 32 32"
                        >
                          <clipPath id="theme-toggle__classic__cutout">
                            <path d="M0-5h30a1 1 0 0 0 9 13v24H0Z" />
                          </clipPath>
                          <g clip-path="url(#theme-toggle__classic__cutout)">
                            <circle cx="16" cy="16" r="9.34" />
                            <g stroke="currentColor" stroke-width="1.5">
                              <path d="M16 5.5v-4" />
                              <path d="M16 30.5v-4" />
                              <path d="M1.5 16h4" />
                              <path d="M26.5 16h4" />
                              <path d="m23.4 8.6 2.8-2.8" />
                              <path d="m5.7 26.3 2.9-2.9" />
                              <path d="m5.8 5.8 2.8 2.8" />
                              <path d="m23.4 23.4 2.9 2.9" />
                            </g>
                          </g>
                        </svg>
                      </label>
                    <button class="p-1 rounded-4 btn__logout"
                        :class="{btn__logout__light: !themeDark, btn__logout__dark: themeDark}"
                        @click="logout">
                        Sign out
                    </button>
                    <div class="position-relative"> 
                        <i class="bi bi-bell"></i>
                        <span   class="position-absolute translate-middle start-100 badge rounded-pill" 
                                style="top: -2px;"
                                :style="{'backgroundColor': themeDark ? 'rgb(0, 199, 0)' : '#ff9975', 'color' : themeDark ? 'black' : 'white'}">
                        5
                        <span class="visually-hidden">unread messages</span>
                        </span>
                    </div>
                </div>
                
            </div>

                <main class="main__account p-2 position-relative d-flex flex-column gap-2 align-items-center">
                    
                    <a  href="/web/accounts.html"
                        class="position-absolute top-0 start-0 text-white m-2">
                        back
                    </a>
                    
                    <div
                        v-if="isLoadingData"
                            class="position-absolute top-50 start-50 translate-middle d-flex justify-content-center align-items-center"
                        >
                        <div
                            class="spinner-border text-dark"
                            :class="{'text-dark': !themeDark, 'text-white': themeDark}"
                            role="status"
                        >
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <template v-if="accountData">
                        <h3>Transactions</h3>

                        <table  class="table table-striped"
                                :class="{'table-dark': themeDark}"
                                :style="{color: themeDark ? 'white' : 'black'}"
                                style="max-width: 600px;"
                                >
                            <thead>
                              <tr>
                                <th scope="col">Amount</th>
                                <th scope="col">Date</th>
                                <th scope="col">Description</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr v-for="transaction of accountData.transactions">
                                <td :style="{color: transaction.type === 'DEBIT' ? 'rgb(243, 0, 0)' : 'rgb(0, 199, 0)'}">{{transaction.type === "DEBIT" ? "-" : "+"}}${{transaction.amount}}</td>
                                <td>{{formatDateAndTime(transaction.date)}}</td>
                                <td>{{transaction.description}}</td>
                              </tr>
                            </tbody>
                          </table>
                    </template>
                    
                </main>
        </div>

    
    </div>
</body>
</html>