<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./assets/logo.png" type="image/x-icon">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/theme-toggles@4.10.1/css/classic.min.css">
    <link rel="stylesheet" href="./styles/account.css" />
    <link rel="stylesheet" href="./styles/flip.css">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.47/dist/vue.global.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts" defer></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
      defer
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"
      defer
    ></script>
    <script src="./js/card.js" defer></script>
    <title>Cards || HB</title>
  </head>
  <body>
    <div id="app">
      {{filtering}}
      <div
        class="gridLayout"
        :class="{ backgroundDark: themeDark, backgroundLight: !themeDark }"
      >
      <div class="nav__account" >

        <nav    class="d-flex flex-column ps-2 pe-2 pt-4 gap-2 nav__basic colorLink"  
                :class="{navLight: !themeDark, nav: themeDark, navList: !themeDark, border__right : themeDark, border__right__light: !themeDark}" 
                :style="getAnimationNav()"> 
 
            <a  class="d-flex align-items-center gap-1" 
                href="./accounts.html"> 
                <i class="bi bi-house"></i>
                Home
            </a>
            <a  class="d-flex align-items-center gap-1" 
                href="./cards.html"
                :class="{actived__section: themeDark, actived__section__light: !themeDark}">
                <i class="bi bi-credit-card"></i>
                Cards
            </a>
            <a class="d-flex align-items-center gap-1" href="./loan-application.html">
                <i class="bi bi-cash"></i>
                Loans
            </a>
            <a  class="d-flex align-items-center gap-1" 
                :href="'./account.html?id='+ getAccountId()">
                <i class="bi bi-bar-chart"></i>
                Transactions
            </a>
            <a  class="d-flex align-items-center gap-1" 
                href="./transactions.html">
                <i class="bi bi-arrow-down-up"></i>
                Transfer
            </a>
            <a class="d-flex align-items-center gap-1" href="./profile.html">
                <i class="bi bi-person"></i>
                Profile
            </a>
            <a  class="d-flex align-items-center gap-1" 
                        href="./contactus.html">
                        <i class="bi bi-headset"></i>
                        Contact us
            </a>
            <template v-if="isMobile">
              <button   class="btn__logout d-fkex gap-2 btn__logout__dark"
                        @click="logout"
                        style="width: 100px">
                        <i class="bi bi-box-arrow-left"></i>
                        Sign out
              </button>
            </template>   
        </nav>

    </div>
    <div
    class="container__header "
    :class="{headerLight: !themeDark, border__bottom: themeDark, border__bottom__light: !themeDark}"
  >

    <div class="d-flex flex-column flex-sm-row gap-4 p-sm-2 justify-content-between h-100">
      <header class="header d-flex h-100 p-2">
        <button class="toggleBar" @click="activeBar = !activeBar">
          <div :style="getAnimationBar(1)"></div>
          <div :style="getAnimationBar(2)"></div>
          <div :style="getAnimationBar(3)"></div>
        </button>
        <div class="title__icon d-flex gap-1 align-items-center">
          
          <img src="./assets/new_logo.png" alt="">
          <h1 style="color: #fe7d72; ">HUBORANGE</h1>

        </div>
      </header>

      <div v-if="!isMobile" style="width: fit-content" class="d-flex flex-wrap align-items-center gap-2">
        <div v-if="clientData" class="d-flex gap-2 align-items-center">
          {{ clientData?.firstName + " " + clientData?.lastName}}
          <div class="container__profile size__profile__small">
            <img v-if="clientData" :src="clientData.avatarUrl ? clientData.avatarUrl : './assets/avatar.jpg'" alt="avatar">
          </div>
        </div>
   
        
        <button class="p-1 rounded-4 btn__logout"
          @click="logout">
          Sign out
        </button>
      </div>
    </div>

     
  </div>

        <main class="d-flex flex-column position-relative container" style="width: 100%; justify-self:center; max-width: 1150px;">
        
          <div class="img__cards d-flex flex-column flex-md-row gap-4 align-items-center justify-content-center pt-2 pt-md-3">
            
            <div class="d-flex flex-column w-100 gap-3 position-relative justify-content-center pb-5" style="max-width: 500px">
              <div class="mb-2">
                <h4 class="subtitle__page__text mb-3">Looking for a convenient and secure way to make purchases?</h4>
                <p class="text__format">
                  Look no further than our credit & debit cards! 
                  As one of the leading banks in the industry, 
                  we offer a range of credit card options  to meet your unique needs and lifestyle.
                </p>
              </div>
              <div>
                <h4 class="subtitle__page__text2 mb-2">{{getStringSelectCards()}}</h4>

                <div class="d-flex flex-column flex-sm-row gap-3" style="height: 30px; width: 300px">
                  <div>
                    <label class="mb-1" for="">Type</label>
                    <select v-model="cardType" class="form-select form-select-sm" style="width: 150px">
                      <option>All</option>
                      <option>Debit</option>
                      <option>Credit</option>
                    </select>
                  </div>
  
                  <div>
                    <label class="mb-1" for="">Color</label>
                    <select v-model="cardColor" class="form-select form-select-sm" style="width: 150px">
                      <option>All</option>
                      <option>Silver</option>
                      <option>Gold</option>
                      <option>Titanium</option>
                    </select>
                  </div>
                  
                  <div v-if="cardType == 'Debit'">
                    <label class="mb-1" for="">Account</label>
                    <select v-model="numberAccount" class="form-select form-select-sm" style="width: 150px">
                      <option>All</option>
                      <option v-for="account of accountsDebit">{{account}}</option>
                    </select>
                  </div>
                </div>
              </div>
            
            </div>

            <img src="./assets/cardsImage.png" alt="cards" class="img_cards" style="width: 600px; height: 360px; max-width: 90vw;">
          
          </div>

          <div class="d-flex flex-column gap-4 justify-content-center text-center align-items-center">
           

          <div class="container__cards">

             

              <div 
                  @click="createCard"
                  v-if="cardType === 'All' && filterCards.length < 6 || cardType !== 'All' && filterCards.length < 3 && cardColor === 'All' || cardType !== 'All' && CardColor !== 'All' && filterCards.length < 1"
                  class="create__card__container">
                  Add a new {{getStringSelectCards(true)}}
                  <i class="bi bi-plus-square fs-1"></i>
              </div>

              <article v-if="filterCards.length" class="card position-relative" :class="{flip: !checkDate(card.thruDate)}" v-for="card of filterCards">

                <div @click="selectCardToDelete(card)" class="delete__card position-absolute" style="top:5px; right: 130px; z-index: 100000;">
                  delete
                </div>

                <div v-if="checkDate(card.thruDate)" class="position-absolute cover__card d-flex justify-content-center align-items-center" style="top:0; right:-1; z-index: 10000;;">
                  <img src="./assets/expired.png" alt="expired" style="width: 180px">
                </div>
                
                <div class="card__front card__part" :class="{card__part__gold: card.cardColor === 'GOLD', card__part__silver: card.cardColor === 'SILVER', card__part__titanium: card.cardColor == 'TITANIUM'}">
                  <img class="card__front-square card__square" src="./assets/chip.png">
                  <img class="card__front-logo card__logo" src="./assets/visa_logo.png">
                  <p class="card_numer">{{card.number}}</p>
                  <div class="card__space-50">
                    <span class="card__label" 
                          :class='{card__gold : card.cardColor === "GOLD", card__silver : card.cardColor === "SILVER", card__titanium : card.cardColor === "TITANIUM"}'>
                          {{card.cardType + " " + card.cardColor}}</span>
                    <p class="card__info">{{card.cardHolder}}</p>
                  </div>
                  <div class="card__space-25">
                    <span class="card__label">From</span>
                    <p class="card__info" style="font-size: 14px">{{getDateAndMonth(card.fromDate)}}</p>
                  </div>
                  <div class="card__space-25">
                    <span class="card__label">Expires</span>
                    <p class="card__info" style="font-size: 14px">{{getDateAndMonth(card.thruDate)}}</p>
                  </div>
                </div>
                
                <div class="card__back card__part" :class="{card__part__gold: card.cardColor === 'GOLD', card__part__silver: card.cardColor === 'SILVER', card__part__titanium: card.cardColor == 'TITANIUM'}">
                  <div class="card__black-line"></div>
                  <div class="card__back-content">
                    <div class="card__secret">
                      <p class="card__secret--last">{{card.cvv}}</p>
                    </div>
                    <img class="card__back-square card__square" src="./assets/holograma.png">
                    <img class="card__back-logo card__logo" src="./assets/visa_logo.png">
                    
                  </div>
                </div>
                
              </article>
    
              <p class="text-center w-100" style="align-self: center;" v-else>Not found cards</p>

              
            </div>
          </div>

        </main>
      </div>

      <template v-if="activeModalConfirm">

        <div  class="position-fixed p-4 rounded d-flex justify-content-center align-items-center"
              style="top: 0; left: 0; width: 100%; height: 100vh; z-index: 1000; color: white; background-color: rgba(0, 0, 0, 0.3);">
    
            
            <div  class="p-4 rounded d-flex flex-column justify-content-between text-dark text-center" 
                  style="height: 200px; width: 400px; background-color: #bfddfc;">

                  <h4>Confirm please</h4>

                Are sure to delete the card number <br/>{{selectedCard.number}}?

                <div class="d-flex justify-content-between w-100">
                  <button class="btn text-light"
                      style="background-color: #e9605a;" 
                      @click="deleteCard">
                      <div class="spinner-border spinner-border-sm text-light" role="status" v-if="isLoading">
                          <span class="visually-hidden">Loading...</span>
                        </div>
                      <span v-if="!isLoading">
                          Confirm
                      </span>
                  </button>
                  <button @click="activeModalConfirm = false" class="btn btn-secondary">Cancel</button> 
                </div>
            </div>
      
        </div>

      </template>

      <template v-if="modalMessage.message">
        <div class="position-absolute start-50 p-4 mt-2 rounded"
              style="top: 10px; z-index: 100000000; color: white;"
              :style="{backgroundColor: modalMessage.isError ? 'red' : 'rgb(43, 75, 146)'}">

              {{modalMessage.message}}

        </div>
      </template>

    </div>
  </body>
</html>

