
@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Open+Sans&display=swap');


*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #app {

    min-height: 100vh;
    width: 100%;


}

h1, h2, h3, h4, h5, h6{

    margin: 0;

}

.backgroundDark{
    background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/vintage-wallpaper.png);
    background-repeat: repeat;
    backface-visibility: visible;
    color: white;
}

.backgroundLight{
    background-color: white;
}

.gridLayout{
    height: 100%;
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: minmax(auto, 150px) 1fr;
    grid-template-rows: 70px 1fr;

}

.title__page__text{

    color: #fe7d72; 
    text-shadow: 2px 2px 1px rgba(54, 54, 54, 0.3);
    font-weight: 900; 
    font-size: 30px;
    text-transform: uppercase;

}

.subtitle__page__text{

    text-transform: uppercase;
    color:#fe7d72; 
    font-size: 25px;
    font-weight: 900; 

}

.subtitle__page__text2{

    text-transform: uppercase;
    color:#fe7d72; 
    font-size: 20px;
    font-weight: 900; 
}

.text__format{

    text-align: left;
    color: #e8eefd;
    font-weight: 900; 
    font-size: 20px;
    max-width: 500px;

}

.border__right__light{

    border-right: solid 1px rgba(223, 223, 223, 0.5);;

}

.border__bottom__light{

    border-bottom: solid 1px  rgba(184, 183, 183, 0.5);

}

.border__right{

    border-right: solid 1px rgba(85, 85, 85, 0.5);;

}

.border__bottom{

    border-bottom: solid 1px  rgba(85, 85, 85, 0.5);
    background-color: #1f2128;

}

.navList{

    background-color: #ececec;

}

.title__icon{

    width: 100%;
    z-index: 2000000000;
}

.title__icon > h1{

    text-align: center;
    color: #fe7d72;
    text-shadow: 2px 2px 2px rgb(54, 54, 54);
    font-weight: 900; 
    font-size: 30px;
    text-transform: uppercase;

}

.btn-orange{


    background-color: #e75042;
    color: white;

}

.btn-orange:hover{

    background-color: #f75a4c;
    color: white;


}



.title__icon > img {

    width: 45px;
    -webkit-filter: drop-shadow(2px 2px 2px rgb(54, 54, 54));
    filter: drop-shadow(2px 2px 2px rgb(54, 54, 54));

}

.nav__account{
    height: calc(100vh - 70px);
    grid-row: 2/-1;
    position: sticky;
    top: 70px;
    z-index: 100;
    background-color: #2C3E50;
}

.header{

    display: flex;
    align-items: center;
    justify-content: space-between;
    border-right: none;

}

.container__header{
    grid-column: 1/-1;
    position: sticky;
    top: 0px;
    z-index: 1000;
    background-color: #0575a5;

}

.toggleBar{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border: solid 2px transparent;
    background-color: transparent;
    gap: .5rem;
}


.toggleBar > div{

    background-color: white;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    transform-origin: left;
    animation-fill-mode: forwards;
    animation-duration: .5s;

}


@keyframes animatedBar2 {
    
    from {

        opacity: 1;

    } to {

        opacity: 0;

    }

}

@keyframes animatedBar1 {
    
    from{

        transform: rotate(0deg);

    }

    to{

        transform: rotate(45deg);

    }

}

@keyframes animatedBar3 {
    from{

        transform: rotate(0deg);

    }

    to{

        transform: rotate(-45deg);

    }
}


@keyframes animatedBar2Reverse {
    
    from {

        opacity: 0;

    } to {

        opacity: 1;

    }

}

@keyframes animatedBar1Reverse {
    
    from{

        transform: rotate(45deg);

    }

    to{

        transform: rotate(0deg);

    }

}

@keyframes animatedBar3Reverse {
    from{

        transform: rotate(-45deg);

    }

    to{

        transform: rotate(0deg);

    }
}


.nav{

    background-color: #2C3E50;

}

.navLight{

    background-color: #ececec;

}

.link__format:link, .link__format:visited, .link__format:active{

    color: white;


}


.main__account{
    gap: 30px;
    grid-column: 2/-1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: calc(100vh - 150px);
}

@media (max-width: 1231px) {

    .main__account{

        grid-template-rows: 1fr;
        gap: 10px;

    }
    
}

.container__aboutus{

    width: 900px !important; 
    min-height: 85vh; 
    max-width: 70vw!important;

}

.text__aboutus{

    width: 230px; 
}

@media (max-width: 930px) {
    
    .container__aboutus{

        max-width: 74vw!important;
    
    }

}

@media (max-width: 767px) {
    
.text__aboutus{

    width: 250px;

}

@media (max-width: 634px) {
    
    .container__aboutus{

        max-width: 90vw!important;
    
    }


}


}


.gridLayoutAccounts{
    display: flex;
    align-self: center;
    justify-self: center;
    margin-top: 10px;
    gap: 20px;

}

.colorLink a:link, a:visited, a:hover, a:active {

    text-decoration: none;
    color: rgb(255, 255, 255);

}

.link__loan:link, .link__loan:visited, .link__loan:hover, .link__loan:active{

    color:rgb(255, 191, 191);
    
    }

.nav__basic > a {

    text-decoration: none;
    max-width: 150px;
    width: 100%;
    padding: 10px;

}

.actived__section{

    background: #ff9966;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: rgb(255, 255, 255) !important;
    border-radius: 10px;
}

.actived__section__light{

    background-color: #2C3E50;
    color: white !important;
    border-radius: 10px;

}

.actived__section:link, .actived__section:visited, .actived__section:hover, .actived__section:active{

    color: white;

}

.nav__responsive{

    position: absolute;
    top: 50px;
    left: -100vw;
   

}

.header__responsive{

    background-color:#1f2128;

}

@keyframes navAnimate {

    from{
        left: -100vw;
    }
    to{

        left: 0px;
    }
    
}

@keyframes navAnimateReverse {

    from{
        left: 0px;
    }
    to{

        left: -100vw;
    }
    
}

@media (max-width: 1231px){

    .main__account{

        grid-template-columns: 1fr;
        justify-items: center;
   
    }

}

@media (max-width: 950px){

    .gridLayout{

        grid-template-columns: 25vw 75vw;

    }

    .img__create__card{

        display: none;

    }

    .flex__colum__responsive{

        flex-direction: column;

    }


}

@media (max-width: 925px){

    .container__accounts{

        max-width: 450px;

    }

    .main__account{

        grid-template-columns: 100%;
        gap: 0px;

    }

}

@media (max-width: 650px){

    .nav__basic > a {
        max-width: 140px;

    }

}

@media (max-width: 630px){

    .gridLayout{

        grid-template-columns: 1fr;
        grid-template-rows: 70px 1fr;
        justify-content: space-between;


    }

    .size__profile__small{

        width: 10px;
        height: 10px;

    }

    .title__icon{

        width: auto;

    }

    .nav__account{

        grid-row: 1;
        z-index: 10000;
        min-height: 100vh;
        position: static;
        height: 100vh; 

    }

    .toggleBar{

        display: flex;

    }

    .nav__account{

        height: 100vh;

    }

    .nav__basic{
        position: fixed;
        top: 70px;
        left: -100vw;
        animation-duration: .5s;
        animation-fill-mode: forwards;
        z-index: 100;
        width: 100vw; 
        height: 100vh;
        display: flex;
        flex-direction: column;
        
    }

    .header{

        color: white;


    }

    .container__header{
        position: sticky;
        top: 0px;
        grid-row: 1;

    }
    
    .main__account{
        width: 100vw;
        grid-column: 1;
    
    
    }

    .border__bottom{

        border-bottom: none;
    
    }
    

}

.btn__period{

    width: 85px;
    border: none;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    font-size: 12px;

}

.labelChart{

    width: 10px;
    background-color: rgb(255, 0, 128)!important;

}

.card__balance__light{

    color: rgb(0, 0, 0);
    background-color: #ececec;
}

.card__balance__dark{

    background-color: #424755;
}

.card__balance{
    min-width: 200px;
    width: 200px;
    height: 280px;
    border-radius: 10px;
    padding: 10px;
    transition: .5s;
    animation-name: vanish;
    animation-duration: .2s;
    font-size: 12px;
    border: 2px solid transparent;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

}

.card__balance:hover{

    border: 2px solid #333333;

}

.gray__filter{

    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -ms-filter: grayscale(1);
    -o-filter: grayscale(1);
    filter: rgb(110, 157, 211); /* IE 6-9 */

}


@keyframes vanish {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
    
}

.card__selected__dark{
  
    background: #ff9966;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0px 6px 10px 8px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 6px 10px 8px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 6px 10px 8px rgba(0,0,0,0.5); 
    border: 2px solid #131212;
    
}

.card__selected__light{
  
    background: #2C3E50;  /* fallback for old browsers */
    box-shadow: 0px 6px 15px 8px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 6px 10px 8px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 6px 10px 8px rgba(0,0,0,0.5); 
    border: 2px solid #2C3E50;
    color: white;
    
}

.container__accounts{
    overflow: hidden;
    column-gap: 20px;
    width: 670px;
    min-height: 280px;
    padding: 0px 20px 0px 20px;
    scroll-behavior: smooth;

}

.btn__logout{

    box-shadow: none;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    color: white;

}

.btn__logout:active:enabled{

    transform: scale(.92);

}

.btn__logout:hover{
    
    color: #fe7d72;

}


.btn__logout__light{

    color: black;

}

.btn__logout__light:hover{

    color: rgb(42, 70, 160);

}

.btn__pass__accounts{

    font-weight: bold;
    box-shadow: none;
    border: none;
    padding: 4px 10px 4px 10px;
    border-radius: 10px;

}

.btn__pass__accounts:disabled{

    background-color: rgb(100, 100, 100);
    color: rgb(48, 47, 47);

}

.btn__pass__accounts:active:enabled{

    transform: scale(.92);

}

.btn__pass__accounts__dark{

    background-color: white;
    color: black;
    
}

.btn__pass__accounts__dark:hover:enabled{
    
    background: #ff9966;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;

    
}


.btn__pass__accounts__light{

    background-color: rgb(53, 53, 53);
    color: rgb(255, 255, 255);

}

.btn__pass__accounts__light:hover{


    background-color: rgb(121, 121, 121);
    color: rgb(255, 255, 255);

}


.balance__total__dark{

    width: 250px; 
    background-color: #2a2c32;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    transition: 1s;
    animation-name: vanish;
    animation-duration: .5s;
}

.balance__total__light{

    width: 250px; 
    background-color: #ececec;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    transition: 1s;
    animation-name: vanish;
    animation-duration: .5s;

}

.modal__movement__parent{

    position: fixed;
    position: fixed;
    width: 100vw;
    height: 100vh;
    transition: .5s;
    right: 0;
    top: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__movement{

    position: fixed;
    right: -1000px;
    top: 0;
    width: 100%;
    max-width: 400px;
    height: 100%;
    z-index: 10;
    transform-origin: right;
    animation-fill-mode: forwards;
    animation-duration: .5s;
    

}

.modal__movement__dark{

    background-color: #2a2c32;
    color: white;

}

.modal__movement__light{

    background-color: #ececec;
    color: black;

}

.btn__close__modal__movement{

    border-radius: 50%;
    border: 2px solid black;
    font-weight: bold;
    

}

.movement__card__light{

    background-color: #cecccc;

}

.movement__card__dark{

    background-color: #555555;

}

.table{

    transition: 1s;
    animation-name: vanish;
    animation-duration: .5s;

}

@keyframes modal__movement__slide{

    from{

        right: -1000px;

    }

    to{

        right: 0px;

    }

}

@keyframes modal__movement__slideout{

    from{

        right: 0px;

    }

    to{

        right: -1000px;

    }

}

@media (max-width: 470px){

    .container__accounts{

        max-width: 230px;
        justify-content: flex-start !important;
    
    }

}

@media (max-width: 370px) {
    
    .container__header{

        flex-direction: column;

    }

}


/*card styles*/

    .card{
        width: 320px;
        height: 190px;
        -webkit-perspective: 600px;
        -moz-perspective: 600px;
        perspective:600px;
        background-color: transparent;
    }

    .card__part__gold{

        background-image: url('../assets/worldmap.png'), linear-gradient(to right, #cfc37c, #b18906); 
    }

    .card__part__silver{

        background-image: url('../assets/worldmap.png'), linear-gradient(to right, #4CA1AF, #326aa1); 

    }

    .card__part__titanium{

        background-image: url('../assets/worldmap.png'), linear-gradient(to right, #9e9e9e, #3f3f3f); 
    }

    .card__part__gray{

        background-image: url('../assets/worldmap.png');
        background-color: rgb(82, 82, 82);
        filter: grayscale(1); 
        box-shadow: inset 0 0 10px #535353;
        opacity: .3;

    }
    
    .card__part{
        box-shadow: 1px 1px #aaa3a3;
        top: 0;
        position: absolute;
        z-index: 1000;
        left: 0;
        display: inline-block;
        width: 320px;
        height: 190px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 8px;
        -webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        -moz-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        -ms-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        -o-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
    }
    
    .card__front{
        padding: 18px;
        -webkit-transform: rotateY(0);
        -moz-transform: rotateY(0);
    }
    
    .card__back {
        padding: 18px 0;
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
    }
    
    .card__black-line {
        margin-top: 5px;
        height: 38px;
        background-color: #303030;
    }
    
    .card__logo {
        height: 16px;
    }
    
    .card__front-logo{
        position: absolute;
        top: 7px;
        right: 14px;
        width: 80px;
        height: 40px;
    }

    .card__front-square{

        position: relative;
        top: -7px;
        left: -120px;
        width: 40px;
        height: 50px;

    }


    .card__square {
        border-radius: 5px;
        height: 40px;
    }
    
    .card_numer {
        display: block;
        width: 100%;
        word-spacing: 4px;
        font-size: 20px;
        letter-spacing: 2px;
        color: #fff;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    
    .card__space-50 {
        width: 60%;
        float: left;
    }
    
    .card__space-25 {
        width: 20%;
        float: left;
    }
    
    .card__label {
        font-size: 10px;
        text-transform: uppercase;
        color: rgba(255,255,255,0.8);
        letter-spacing: 1px;
    }
    
    .card__info {
        margin-bottom: 0;
        margin-top: 5px;
        font-size: 16px;
        line-height: 18px;
        color: #fff;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    
    .card__back-content {
        padding: 15px 15px 0;
    }
    .card__secret--last {
        color: #303030;
        text-align: right;
        margin: 0;
        font-size: 14px;
    }
    
    .card__secret {
        padding: 5px 12px;
        background-color: #fff;
        position:relative;
    }
    
    .card__secret:before{
        content:'';
        position: absolute;
        top: -3px;
        left: -3px;
        height: calc(100% + 6px);
        width: calc(100% - 42px);
        border-radius: 4px;
        background: repeating-linear-gradient(45deg, #ededed, #ededed 5px, #f9f9f9 5px, #f9f9f9 10px);
    }
    
    .card__back-logo {
        position: absolute;
        bottom: 18px;
        right: 7px;
        width: 80px;
        height: 40px;
    }
    
    .card__back-square {
        position: absolute;
        bottom: 15px;
        left: 15px;
    }
    
 


    .card__silver{

        color: rgb(219, 219, 219);

    }

    .card__gold{

        color: rgb(255, 255, 255);
    }

    .card__titanium{

        color:  #ffffff;

    }

    .select-card{

        width: 150px;
        height: 30px!important;
    }

    
    @media (max-width: 330px) {

        .card{

            width: 300px;

        }
        .card__back{

            width: 300px;

        }

        .card__front{

            width: 300px

        }
        
    }

    .button__add__account{

        width: 200px;
        border: solid 2px #646464;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 17px;
        cursor: hand;
        cursor: pointer;

    }

    .button__add__account:hover{

        background-color: #d6a6a3;
        color: black;

    }

    .container__cards{
        width: 100%;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(auto-fill, minmax(320px, 320px));
        justify-items: center;
        padding-bottom: 30px;
    }

    .container__profile{
        border-radius: 50%;
        overflow: hidden;
        object-fit: cover;
        object-position: center;
    }

    .border__profile{

        border: 5px solid rgb(110, 130, 248);

    }

    .size__profile__small{

        width: 30px;
        height: 30px;

    }

    .size__profile__big{

        width: 150px;
        height: 150px;

    }

    .container__profile > img{

        width: 100%;
        height: 100%;

    }

    .modalContainer{
        z-index: 10000;
        top:0;
        left: 0;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        min-height: 100vh;
        min-width: 100vw;

    }

    .container__form__profilePic{

        padding: 30px;
        background-color: #1d578d;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;

    }

    @media (max-width: 450px) {

        .container__form__profilePic{

            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            overflow: scroll;
            align-items: center;
            padding: 20px;

        }

        .container__form__profilePic > form{

            width: 90vw;

        }

        .container__form__profilePic input, select{

            width: 90vw;

        }
        
    }

    .create__card__container{
        width: 320px;
        height: 190px;
        border: 2px solid rgba(255, 255, 255, 0.3);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        transition: .5s;
        cursor: hand;
        cursor: pointer;
    }

    .create__card__container:hover{

        background-color: #d6a6a3;
        color: black;

    }


    .button__card__transaction{

        height: 400px;
        width: 300px;
        max-width: 30vw;
        background-color: #31618d;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button__card__transaction:hover{
        box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);
        background: #2C3E50;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #4CA1AF, #51779c);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #4CA1AF, #326aa1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }


    .image__button__transfer1{

        width: 400px;  
        max-width: 27vw; 
        height: 400px; 
        top: 200px

    }

    .image__button__transfer2{

        width: 350px;  
        max-width: 27vw; 
        height: 350px; 
        top: 230px

    }

    @media (max-width: 630px) {

        .button__card__transaction{

            max-width: 40vw;

        }

        .image__button__transfer{

            max-width: 35vw;

        }
        
    }

    @media (max-width: 575px) {

        .button__card__transaction{

            height: 250px;
            max-width: 90vw;
            overflow: hidden;

        }

        .title__page__text{

            font-size: 20px;

        }

        .image__button__transfer1{

            top: 160px;
            max-width: 50vw;

        }

        .image__button__transfer2{

            top: 180px;
            max-width: 50vw;
            height: 250px;

        }
        
    }

    .flipColour{

        animation-name: flipColour;
        animation-duration: .4s;
        animation-fill-mode: forwards;

    }

    @keyframes flipColour {
     
        0%{

            background: #4CA1AF;  /* fallback for old browsers */

        }

        25%{
            background-color: #2C3E50;
        }

        50%{

            background: #4CA1AF;  /* fallback for old browsers */
        }

        75%{
            background-color: #2C3E50;
        }

        100%{

            background: #4CA1AF;  /* fallback for old browsers */
        
        }


    }

    .disappear{

        animation-name: disappear;
        animation-duration: .5s;
        animation-fill-mode: forwards;

    }

    @keyframes disappear {
    
        from{
            opacity: 1;

        }
        to{
            opacity: 0;
        }

    }

    .container-banner-loans img {

        max-height: 70vh;

    }


    .img__cards > img{

        min-width: 300px;
        width: 40vw;

    }

    .grid__cards{

        display: grid;
        grid-template-columns: 40vw 30vw;

    }
    .oval__circle{
        position: absolute;
        top: 0;
        background-color: #2C3E50;
        width: 100%;
        height: 180px;
        z-index: 1;
        overflow: visible;
        border-radius: 170% 170% 120% 120%;

    }

    .container__data__profile{
        background-color: #79a2c9;
        width: fit-content;
        max-width: 90vw;
        padding: 10px;
        box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.5);
        z-index: 1;
        overflow: visible;
        border-radius: 20px;


    }


    .container__form{
        background-color: #31618d;
        padding: 20px;
        width: fit-content;
        max-width: 70vw;
        z-index: 1;
        overflow: visible;
        border-radius: 20px;

    }

    @media (max-width: 645px) {

        .container__form{

            width: 900px!important;
            max-width: 90vw;

        }
        
    }

    .grid__loans{

        display: grid;
        grid-template-rows: 30px calc(100vh - 100px) 1fr;
        padding-bottom: 20px;

    }


@media (max-width: 1080px) {
    
    .img_cards{

        display: none;

    }

    .container__cards{

        justify-content: center;

    }

}

.delete__card{
    padding: 2px 7px 2px 7px;
    border-radius: 10px;
    background-color: #e75042;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    color: white;
    cursor: hand;
    cursor: pointer;
    transition: .5s;
}

.delete__card:hover {

    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);

}

.cover__card{
    font-size: 30px;
    font-weight: bold;
    color: red;
    width: calc(100% + 10px);
    height: calc(100% + 10px);

}

.button__delete__account{

    background-color: rgb(153, 0, 0);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    border-radius: 5px;
    right: 3px;
    top: 1px;
    cursor: hand;
    cursor: pointer;
}

.button__delete__account:hover{

    background-color: rgb(240, 0, 0);

}


.button__delete__account:active{

    transform: scale(.97);

}

/*-----pdf------*/
